body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  max-width: 100%;
  margin: 80px auto 20px auto; /* Adjust the margin-top to create space for the fixed navbar */
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card a {
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.card a:hover {
  text-decoration: underline;
}

.card p {
  margin: 5px 0;
  color: #555;
}
